* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: var(--bg-color, #ffffff);
    color: var(--text-color, #000000);
    transition: background 0.3s, color 0.3s;
}

html.light-theme {
  --bg-color: #f7f7f7;
  --text-color: #333;
  --navbar-bg: #eaeaea;
  --card-bg: #ffffff;
  --border-color: #ddd;
  --button-bg: #6c63ff;
  --button-hover: #574fd6;
  --popup-bg: #ffffff;
  --popup-text: #333;
}

html.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #f7f7f7;
  --navbar-bg: #000000;
  --card-bg: #2a2a2a;
  --border-color: #444;
  --button-bg: #8b78f4;
  --button-hover: #a294f4;
  --popup-bg: #2a2a2a;
  --popup-text: #f7f7f7;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background: var(--navbar-bg);
    border-color: var(--border-color);
    border-bottom: 1px solid #ccc;
    transition: background 0.3s;
}

body.dark-theme .navbar {
    background: #000;
    border-color: #333;
}
  
.nav-logo img {
    height: 40px;
    cursor: pointer;    
    transition: transform 0.3s;
}

.nav-logo img:hover {
    transform: scale(1.1);
}

.navbar .theme-toggle{
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background: transparent;
    border: none;
}

/* Main Container */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}

/*Images*/
.image-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: var(--image-bg);
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image Animations */
#mainImage {
    width: 250px;
    height: 250px;
    object-fit: contain;
    transform: scale(0);
    animation: scaleUp 1s ease-out forwards;
}

#symbolImage {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: dropDown 0.8s ease-out 1s forwards;
}

#clickText {
    font-size: 1.1rem;
    margin-top: 30px;
    opacity: 0;
    animation: fadeIn 1s ease-in 2.2s forwards;
    color: var(--text-color);
}

/* Animations */
@keyframes scaleUp {
    to {
        transform: scale(1);
    }
}

@keyframes dropDown {
    to {
        top: 10px;
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
  }
  
  .media-grid img,
  .media-grid video {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  